<center>
	<h1>{{ __('Maps Module') }}</h1>
</center>

<br><br>
<center><img src="{{ zasset('@TdMMapsModule:images/Mapas.png') }}" width=610 height=458 alt="{{ __('Maps Module')|e('html_attr') }}" title="{{ __('Maps Module')|e('html_attr') }}" /></center><br><br>

{# Menu #}
{#{ knp_menu_render('maps', {"template": "TdMMapsModule:Menu:knp_menu.html.twig"}) }#}

<br><br>
